[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
py-cord = "*"
python-dotenv = "*"
mongoengine = "*"
requests = "*"
aiodns = "*"
brotlipy = "*"
pillow = "==9.5.0"
markovify = "*"
mistralai = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
